@page
@model RazorPagesPersonal.Pages.Personals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Experience)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Personal.ID">Изменить</a> |
    <a asp-page="./Index">Назадt</a>
</div>
